/*
    *  ----------------------------------------------------------------  *
    *  -----  styles-38.scss  --  /src/scss/pages/styles-38.scss  -----  *
    *  ----------------------------------------------------------------  *
*/


.demo__sounds {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sounds__title {
    width: 100%;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

@media (min-width: 481px) {

    .sounds__title {
        margin-bottom: 3rem;
        font-size: 2.4rem;
    }
}

.sounds__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

@media (min-width: 481px) {

    .sounds__list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4rem;
    }
}

.sounds__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    border: 2px solid #ccc;
    padding: 1.5rem;
    border-radius: 5px;
}

@media (min-width: 481px) {

    .sounds__item {
        width: 15rem;
    }
}

.sounds__image {
    width: 100%;
    height: 18rem;
    margin: 0;
    overflow: hidden;
}

@media (min-width: 481px) {

    .sounds__image {
        width: 11rem;
        height: 15rem;
    }
}

.sounds__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sounds__btn {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    color: white;
    background-color: #eb6969;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    transition: all 300ms ease-in-out;

    &:hover {
        background-color: #d85a5a;
        font-weight: 600;
    }

    &.sounds__btn--playing {
        background-color: #4caf50;

        &:hover {
            background-color: #3d8b40;
        }
    }
}
