/*
    *  ---------------------------------------------------------------------  *
    *  -----  /styles-home.css  --  /src/styles/pages/styles-home.css  -----  *
    *  ---------------------------------------------------------------------  *
*/


.main__title {
    text-align: center;
    font-size: 4rem;
    margin: 1rem 0;
    color: #5ac274;
}