/*
    *  ----------------------------------------------------------------  *
    *  -----  styles-26.scss  --  /src/scss/pages/styles-26.scss  -----  *
    *  ----------------------------------------------------------------  *
*/

.demo__star {
    position: relative;
    justify-content: center;
    min-height: 40rem;
}

@media (min-width: 768px) {

    .demo__star {
        min-height: 60rem;
    }
}

.star__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fbe323;
    font-size: 18rem;
    cursor: pointer;
}

@media (min-width: 480px) {

    .star__icon {
        font-size: 20rem;
    }
}

@media (min-width: 768px) {

    .star__icon {
        font-size: 25rem;
    }
}

.star__icon--gray {
    color: gray;
    z-index: 1;
    opacity: 1;
}

.star__icon--yellow {
    color: #fbe323;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
}

@keyframes star-burst {

    100% {
        transform: translate(-50%, -50%) scale(1.7);
        opacity: 0;
    }
}

.star__icon--visible {
    animation: star-burst 1s linear;
    opacity: 1;
    visibility: visible;
}

.star__icon--active {
    color: #fbe323;
}
