/*
    *  ----------------------------------------------------------------  *
    *  -----  styles-29.scss  --  /src/scss/pages/styles-29.scss  -----  *
    *  ----------------------------------------------------------------  *
*/


.demo__login {
    width: 100%;
    min-height: 34rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 1.2rem 4rem;
    box-sizing: border-box;
    background-color: #e8effa;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {

    .demo__login {
        min-height: 42rem;
        padding: 3rem 2rem 5rem;
    }
}


.login__panel {
    width: min(100%, 45rem);
    min-height: 32rem;
    padding: 4rem 2.4rem;
    box-sizing: border-box;
    border-radius: 1rem;
    background-color: #37384e;
}

@media (min-width: 768px) {

    .login__panel {
        padding: 6rem 4rem;
    }
}


.login__title {
    width: 100%;
    min-height: 1.2em;
    margin: 0 0 3rem;
    padding: 0;
    color: #ffffff;
    background-color: transparent;
    text-align: center;
    font-size: 2.4rem;
}


.login__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}


.form__control {
    position: relative;
    width: 100%;
    min-height: 7rem;
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
}


.form__label {
    position: absolute;
    left: 1rem;
    width: calc(100% - 2rem);
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 600;
    transition: top 300ms ease, transform 300ms ease, left 300ms ease;
}


.form__label--blur {
    top: calc(2.5rem + 2.2rem);
    transform: translateY(-50%);
}


.form__label--focus {
    left: 0;
    top: 0;
    transform: translateY(0);
}


.form__input {
    width: 100%;
    min-height: 4.4rem;
    padding: 1rem;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    background-color: #616280;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 600;
    transition: box-shadow 300ms ease;
}


.form__input:focus {
    box-shadow: 0 0 0.8rem #ffffff;
}


.form__btn {
    width: 100%;
    min-height: 4.4rem;
    margin-top: -1rem;
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    background-color: #5a5ad0;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 300ms ease-in-out;
}
