/*
    *  -----------------------------------------------------------------  *
    *  -----  /styles-28.css  --  /src/styles/pages/styles-28.css  -----  *
    *  -----------------------------------------------------------------  *
*/

// .main__container {
//     position: relative;
//     width: 100vw;
//     min-height: 40rem;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     padding-top: 5rem;
//     padding-bottom: 5rem;
//     gap: 5rem;
//     font-family: 'Monserrat', sans-serif;
//     background-color: #e8effa;
// }

// @media (min-width: 768px) {

//     .main__container {
//         min-height: 60rem;
//     }
// }

.main__load {
    position: relative;
    width: 95%;
    max-width: 120rem;
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.load__background {
    display: block;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    filter: blur(3rem);
}

.load__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.load__section {
    position: relative;
    width: 30rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   

.load__number {
    font-size: 7rem;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 0 0 1rem black;
}

.load__btn,
.load__btn-reset {
    padding: 1rem;
    border: none;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    background-color: #2e9955;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.load__btn:hover,
.load__btn-reset:hover {
    background-color: #30af5e;
}

.load__complete {
    display: none;
    color: #30af5e;
    font-size: 2.5rem;
    font-weight: 600;
    text-shadow: 0 0 1rem black;
}

.load__btn-reset {
    display: none;
    margin-top: 2rem;
}