/*
    *  ----------------------------------------------------------------  *
    *  -----  styles-31.scss  --  /src/scss/pages/styles-31.scss  -----  *
    *  ----------------------------------------------------------------  *
*/


.demo__steps {
    width: 100%;
    max-width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

@media (min-width: 481px) {

    .demo__steps {
        flex-direction: row;
        width: auto;
        max-width: 35rem;
        min-width: 35rem;
        gap: 0;
    }
 
}

.demo-steps__steps {
    position: relative;
    width: 3rem;
    height: 40rem;
}

@media (min-width: 481px) {

    .demo-steps__steps {
        margin-right: 4rem;
    }
}


//  -----  Barra y Progreso de pasos  -----

.steps__progress,
.steps__bar {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    width: 0.5rem;
    transition: all 300ms ease-in-out;
}

.steps__progress {
    height: 100%;
    background-color: #cbd0cc;
}

.steps__bar {
    height: 0%;
    background-color: #009688;
}

.steps__circles {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.steps__step {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: #5c6f84;
    background-color: white;
    border-radius: 5rem;
    border: 3px solid #cbd0cc;
    transition: all 300ms linear;
}

.steps__step > .fa-solid {
    opacity: 0;
    transition: all 300ms linear;
}

.active {
    border: 3px solid #009688;
}

.active > .fa-solid {
    opacity: 1;
}


//  -----  Botones  -----

.demo-steps__btns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

@media (min-width: 481px) {

    .demo-steps__btns {
        width: 30rem;
        height: 100%;
        align-items: flex-end;
    }
}

.btns__prev,
.btns__next {
    width: 12rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    outline: none;
    background-color: #009688;
    padding: 1rem;
    color: white;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 300ms linear;
}

.disable {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

.btns__prev:not(.disable):hover,
.btns__next:not(.disable):hover {
    background-color: #38b6a9;
}
