/*
    *  -----------------------------------------------------------------  *
    *  -----  /styles-20.css  --  /src/styles/pages/styles-20.css  -----  *
    *  -----------------------------------------------------------------  *
*/

.main__container {
    position: relative;
    width: 100vw;
    min-height: 60rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5rem;
    padding-bottom: 5rem;
    gap: 5rem;
    font-family: 'Monserrat', sans-serif;
    background-color: #e8effa;
}

.main__date-hour {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.title {
    padding: 2rem;
    text-align: center;
    background-color: #bedff1;
    border-radius: 0.5rem;
    text-shadow: 0px 0px 2px blue;
}


.layout__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main__title {
    width: 100%;
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 1rem;
    color: #0091e5;
    background-color: beige;
}

.main__date,
.main__hour {
    height: 5rem;
    text-align: center;
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px blue;
    margin-bottom: 0.1rem;
}

.main__hour {
    font-size: 3rem;
    font-feature-settings: "tnum"; /* Activa números tabulares si la fuente lo soporta */
}
