/*
    ---------------------------------------------------------------------
    ----------  /udemy.antonydev.tech/  ---------------------------------
    ----------  /01-victor-robles-web/  ---------------------------------
    ----------  /05-desarrollo-web-100-proyectos-html-css-js/  ----------
    ----------  /03-proyectos-javascript/  ------------------------------
    ----------  /src/styles/pages/  -------------------------------------
    ----------  /styles-00.css  -----------------------------------------
    ---------------------------------------------------------------------
*/


.main__container {
    position: relative;
    width: 100vw;
    min-height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    gap: 5rem;
    font-family: 'Monserrat', sans-serif;
    background-color: #e8effa;
}

@media (min-width: 768px) {

    .main__container {
        min-height: 60rem;
    }
}

