<!--
    *  ---------------------------------------------------------------------------------  *
    *  -----  /layout-header.html  --  /src/components/layouts/layout-header.html  -----  *
    *  ---------------------------------------------------------------------------------  *
-->

<!--  ----------  Header  ----------  -->
<div class="header__container">

    <!--  -----  Botón del Menú Hamburguesa de Navegación Open -----  -->
    <button class="navbar__btn-open" type="button" aria-label="Abrir menú de navegación">
        <div class="btn__icon-open"> </div>
        <div class="btn__icon-open"> </div>
        <div class="btn__icon-open"> </div>
    </button>


     <!--  -----  Contenedor Izquierda: 50 Proyectos JavaScript -----  -->
    <div class="header__brand header__brand--javascript">
        
        <span class="header__logo-shell">
            
            <a href="https://developer.mozilla.org/es/docs/Web/JavaScript" target="_blank" rel="noopener noreferrer">
                <img 
                    class="header__logo-javascript" 
                    src="../../../assets/img/logos/javascript-logo.svg" 
                   alt="Logo JavaScript"
                >
            </a>
            
        </span>

        <span class="header__brand-copy">
            <span class="header__eyebrow"> 50 Proyectos JavaScript </span>
            <!-- <span class="header__brand-name"> 50 JavaScript </span> -->
        </span>

    </div>

    

    <!--  -----  Contenedor Central: 100 Proyectos Desarrollo Web -----  -->
    <div class="header__content">

        <p class="header__badge"> Udemy - Victor Robles Web </p>

        <h1 class="header__title">

            100 Proyectos de Desarrollo Web con HTML, CSS y JavaScript

        </h1>

        <span class="header__logo-shell header__logo-shell--github">
            <img 
                class="header__logo-github" 
                src="../../../assets/img/logos/github-logo.svg" 
                alt="Logo GitHub"
            >
        </span>

        <p id="headerTitle" class="header__dynamic-title"> 
            <!--  *****  renderizado del título con el plugin  *****  -->
        </p>

    </div>


    <!--  -----  Contenedor Derecha: Desarrollo Web con HTML, CSS, JavaScript -----  -->
    <div class="header__brand header__brand--stack">
        
        <span class="header__brand-copy">
            <span class="header__eyebrow"> Desarrollo web 100 Proyectos con </span>
        </span>

        <span class="header__logo-shell header__logo-shell--stack">
            
            <a href="https://developer.mozilla.org/es/docs/Web/HTML" target="_blank" rel="noopener noreferrer">
                <img 
                    class="header__logo-html" 
                    src="../../../assets/img/logos/html-logo.svg"
                    alt="Logo HTML"
                >
            </a>
            
            <a href="https://developer.mozilla.org/es/docs/Web/CSS" target="_blank" rel="noopener noreferrer">
                <img 
                    class="header__logo-css" 
                    src="../../../assets/img/logos/css-logo.svg"
                    alt="Logo CSS"
                >
            </a>
            
            <a href="https://developer.mozilla.org/es/docs/Web/JavaScript" target="_blank" rel="noopener noreferrer">
                <img 
                    class="header__logo-javascript-stack" 
                    src="../../../assets/img/logos/javascript-logo.svg"
                    alt="Logo JavaScript"
                >
            </a>

        </span>

    </div>
          

</div>