<!--
    *  ---------------------------------------------------------------------------------  *
    *  -----  /layout-navbar.html  --  /src/components/layouts/layout-navbar.html  -----  *
    *  ---------------------------------------------------------------------------------  *
-->

<!--  ----------  NAVBAR  ----------  -->
<div class="navbar__container">

    <!--  -----  Botón del Menú Hamburguesa de Navegación Close -----  -->
    <button class="navbar__btn-close" type="button" aria-label="Cerrar menú de navegación">
        <div class="btn__icon-close"> </div>
        <div class="btn__icon-close"> </div>
    </button>

    <!--  -----  Lista del menú (HOME)  -----  -->
    <ul class="navbar__list">

        <!--  -----  Título del menú (navbar)  -----  -->
        <li class="navbar__title">

            <!--  -----  Logo de JavaScript -----  -->
            <a href="#" target="_blank" rel="noopener noreferrer">
                <img class="navbar__logo-javascript" src="/assets/img/logos/javascript-logo.svg" alt="Logo JavaScript">
            </a>

            <h3>
                HOME
            </h3>

            <!--  -----  Logo de JavaScript -----  -->
            <a href="#" target="_blank" rel="noopener noreferrer">
                <img class="navbar__logo-javascript" src="/assets/img/logos/javascript-logo.svg" alt="Logo JavaScript">
            </a>

        </li>

        <!--  -----  item Home  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="home">
                Home
            </a>
        </li>

    </ul>

    <!--  -----  Lista del menú (Proyectos 1-10)  -----  -->
    <ul class="navbar__list">

        <!--  -----  Título del menú (navbar)  -----  -->
        <li class="navbar__title">

            <!--  -----  Logo de JavaScript -----  -->
            <a href="#" target="_blank" rel="noopener noreferrer">
                <img class="navbar__logo-javascript" src="/assets/img/logos/javascript-logo.svg" alt="Logo JavaScript">
            </a>

            <h3>
                Proyectos 1-10
            </h3>

            <!--  -----  Logo de JavaScript -----  -->
            <a href="#" target="_blank" rel="noopener noreferrer">
                <img class="navbar__logo-javascript" src="/assets/img/logos/javascript-logo.svg" alt="Logo JavaScript">
            </a>

        </li>

        <!--  -----  item 1  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js01" data-route="route-proyecto-01-js">
                1 - Proyecto 1
            </a>
        </li>

        <!--  -----  item 2  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js02" data-route="route-proyecto-02-js">
                2 - Proyecto 2
            </a>
        </li>

        <!--  -----  item 3  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js03" data-route="route-proyecto-03-js">
                3 - Proyecto 3
            </a>
        </li>

        <!--  -----  item 4  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js04" data-route="route-proyecto-04-js">
                4 - Proyecto 4
            </a>
        </li>

        <!--  -----  item 5  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js05" data-route="route-proyecto-05-js">
                5 - Proyecto 5
            </a>
        </li>

        <!--  -----  item 6  -----  -->
        <li class="navbar__item">
            <a href="/victor-robles-web/05-desarrollo-web-100-proyectos-html-css-js/03-proyectos-javascript/proyecto-06" rel="noopener noreferrer">
                6 - Proyecto 6
            </a>
        </li>

        <!--  -----  item 7 v1  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js07V1" data-route="route-proyecto-07-v1-js">
                7 - Proyecto 7 v1
            </a>
        </li>

        <!--  -----  item 7 v2  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js07V2" data-route="route-proyecto-07-v2-js">
                7 - Proyecto 7 v2
            </a>
        </li>

        <!--  -----  item 8  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js08" data-route="route-proyecto-08-js">
                8 - Proyecto 8
            </a>
        </li>

        <!--  -----  item 9  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js09" data-route="route-proyecto-09-js">
                9 - Proyecto 9
            </a>
        </li>

        <!--  -----  item 10  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js10" data-route="route-proyecto-10-js">
                10 - Proyecto 10
            </a>
        </li>

    </ul>

    <!--  -----  Lista del menú (Proyectos 11-20)  -----  -->
    <ul class="navbar__list">

        <!--  -----  Título del menú (navbar)  -----  -->
        <li class="navbar__title">

            <!--  -----  Logo de HTML -----  -->
            <a href="#" target="_blank" rel="noopener noreferrer">
                <img class="navbar__logo-javascript" src="/assets/img/logos/javascript-logo.svg" alt="Logo JavaScript">
            </a>

            <h3>
                Proyectos 11-20
            </h3>

            <!--  -----  Logo de JavaScript -----  -->
            <a href="#" target="_blank" rel="noopener noreferrer">
                <img class="navbar__logo-javascript" src="/assets/img/logos/javascript-logo.svg" alt="Logo JavaScript">
            </a>
        </li>

        <!--  -----  item 11  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js11" data-route="route-proyecto-11-js">
                11 - Proyecto 11
            </a>
        </li>

        <!--  -----  item 12  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js12" data-route="route-proyecto-12-js">
                12 - Proyecto 12
            </a>
        </li>

        <!--  -----  item 13  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js13" data-route="route-proyecto-13-js">
                13 - Proyecto 13
            </a>
        </li>

        <!--  -----  item 14  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js14" data-route="route-proyecto-14-js">
                14 - Proyecto 14
            </a>
        </li>

        <!--  -----  item 15  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js15" data-route="route-proyecto-15-js">
                15 - Proyecto 15
            </a>
        </li>

        <!--  -----  item 16  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js16" data-route="route-proyecto-16-js">
                16 - Proyecto 16
            </a>
        </li>

        <!--  -----  item 17  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js17" data-route="route-proyecto-17-js">
                17 - Proyecto 17
            </a>
        </li>

        <!--  -----  item 18  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js18" data-route="route-proyecto-18-js">
                18 - Proyecto 18
            </a>
        </li>

        <!--  -----  item 19  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js19" data-route="route-proyecto-19-js">
                19 - Proyecto 19
            </a>
        </li>

        <!--  -----  item 20  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js20" data-route="route-proyecto-20-js">
                20 - Proyecto 20
            </a>
        </li>

    </ul>

    <!--  -----  Lista del menú (Proyectos 21-30)  -----  -->
    <ul class="navbar__list">

        <!--  -----  Título del menú (navbar)  -----  -->
        <li class="navbar__title">

            <!--  -----  Logo de JavaScript -----  -->
            <a href="#" target="_blank" rel="noopener noreferrer">
                <img class="navbar__logo-javascript" src="/assets/img/logos/javascript-logo.svg" alt="Logo JavaScript">
            </a>

            <h3>
                Proyectos 21-30
            </h3>

            <!--  -----  Logo de JavaScript -----  -->
            <a href="#" target="_blank" rel="noopener noreferrer">
                <img class="navbar__logo-javascript" src="/assets/img/logos/javascript-logo.svg" alt="Logo JavaScript">
            </a>

        </li>

        <!--  -----  item 21  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js21" data-route="route-proyecto-21-js">
                21 - Proyecto 21
            </a>
        </li>

        <!--  -----  item 21 jQuery UI  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js21JQueryUI" data-route="route-proyecto-21-jquery-ui">
                21 - Proyecto 21 jQuery UI
            </a>
        </li>

        <!--  -----  item 22  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js22" data-route="route-proyecto-22-js">
                22 - Proyecto 22
            </a>
        </li>

        <!--  -----  item 23  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js23" data-route="route-proyecto-23-js">
                23 - Proyecto 23
            </a>
        </li>

        <!--  -----  item 24  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js24" data-route="route-proyecto-24-js">
                24 - Proyecto 24
            </a>
        </li>

        <!--  -----  item 25  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js25" data-route="route-proyecto-25-js">
                25 - Proyecto 25
            </a>
        </li>

        <!--  -----  item 26  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js26" data-route="route-proyecto-26-js">
                26 - Proyecto 26
            </a>
        </li>

        <!--  -----  item 27  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js27" data-route="route-proyecto-27-js">
                27 - Proyecto 27
            </a>
        </li>

        <!--  -----  item 28  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js28" data-route="route-proyecto-28-js">
                28 - Proyecto 28
            </a>
        </li>

        <!--  -----  item 29  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js29" data-route="route-proyecto-29-js">
                29 - Proyecto 29
            </a>
        </li>

        <!--  -----  item 30  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js30" data-route="route-proyecto-30-js">
                30 - Proyecto 30
            </a>
        </li>

    </ul>

    <!--  -----  Lista del menú (Proyectos 31-40)  -----  -->
    <ul class="navbar__list">

        <!--  -----  Título del menú (navbar)  -----  -->
        <li class="navbar__title">

            <!--  -----  Logo de JavaScript -----  -->
            <a href="#" target="_blank" rel="noopener noreferrer">
                <img class="navbar__logo-javascript" src="/assets/img/logos/javascript-logo.svg" alt="Logo JavaScript">
            </a>

            <h3>
                Proyectos 31-40
            </h3>

             <!--  -----  Logo de JavaScript -----  -->
             <a href="#" target="_blank" rel="noopener noreferrer">
                <img class="navbar__logo-javascript"
                    src="/assets/img/logos/javascript-logo.svg"
                    alt="Logo JavaScript">
            </a>

        </li>

        <!--  -----  item 31  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js31" data-route="route-proyecto-31-js">
                31 - Proyecto 31
            </a>
        </li>

        <!--  -----  item 32  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js32" data-route="route-proyecto-32-js">
                32 - Proyecto 32
            </a>
        </li>

        <!--  -----  item 33  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js33" data-route="route-proyecto-33-js">
                33 - Proyecto 33
            </a>
        </li>

        <!--  -----  item 34  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js34" data-route="route-proyecto-34-js">
                34 - Proyecto 34
            </a>
        </li>

        <!--  -----  item 35  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js35" data-route="route-proyecto-35-js">
                35 - Proyecto 35
            </a>
        </li>

        <!--  -----  item 36  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js36" data-route="route-proyecto-36-js">
                36 - Proyecto 36
            </a>
        </li>

        <!--  -----  item 37  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js37" data-route="route-proyecto-37-js">
                37 - Proyecto 37
            </a>
        </li>

        <!--  -----  item 38  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js38" data-route="route-proyecto-38-js">
                38 - Proyecto 38
            </a>
        </li>

        <!--  -----  item 39  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js39" data-route="route-proyecto-39-js">
                39 - Proyecto 39
            </a>
        </li>

        <!--  -----  item 40  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js40" data-route="route-proyecto-40-js">
                40 - Proyecto 40
            </a>
        </li>

    </ul>

    <!--  -----  Lista del menú (Proyectos 41-50)  -----  -->
    <ul class="navbar__list">

        <!--  -----  Título del menú (navbar)  -----  -->
        <li class="navbar__title">

             <!--  -----  Logo de JavaScript -----  -->
             <a href="#" target="_blank" rel="noopener noreferrer">
                <img class="navbar__logo-javascript"
                    src="/assets/img/logos/javascript-logo.svg"
                    alt="Logo JavaScript">
            </a>

            <h3>
                Proyectos 41-50
            </h3>

            <!--  -----  Logo de JavaScript -----  -->
            <a href="#" target="_blank" rel="noopener noreferrer">
                <img class="navbar__logo-javascript" src="/assets/img/logos/javascript-logo.svg" alt="Logo JavaScript">
            </a>

        </li>

        <!--  -----  item 41  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js41" data-route="route-proyecto-41-js">
                41 - Proyecto 41
            </a>
        </li>

        <!--  -----  item 42  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js42" data-route="route-proyecto-42-js">
                42 - Proyecto 42
            </a>
        </li>

        <!--  -----  item 43  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js43" data-route="route-proyecto-43-js">
                43 - Proyecto 43
            </a>
        </li>

        <!--  -----  item 44  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js44" data-route="route-proyecto-44-js">
                44 - Proyecto 44
            </a>
        </li>

        <!--  -----  item 45  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js45" data-route="route-proyecto-45-js">
                45 - Proyecto 45
            </a>
        </li>

        <!--  -----  item 46  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js46" data-route="route-proyecto-46-js">
                46 - Proyecto 46
            </a>
        </li>

        <!--  -----  item 47  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js47" data-route="route-proyecto-47-js">
                47 - Proyecto 47
            </a>
        </li>

        <!--  -----  item 48  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js48" data-route="route-proyecto-48-js">
                48 - Proyecto 48
            </a>
        </li>

        <!--  -----  item 49  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js49" data-route="route-proyecto-49-js">
                49 - Proyecto 49
            </a>
        </li>

        <!--  -----  item 50  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="js50" data-route="route-proyecto-50-js">
                50 - Proyecto 50
            </a>
        </li>

    </ul>

</div>